.marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 30px;
    overflow-x: hidden;
    background-color: #161c35;
    color:#60e0d1;
    letter-spacing: 3px;
}

.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 21s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbar-links{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.navbar-link{
    padding: 1rem;
}