nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}
.navbar-links{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.navbar-link{
    padding: 1rem;
}