.ticket-container{
    /* padding: 1.5rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* TICKET 1*/
.ticket-final{
    background-color: white;
    border-radius: 10px;
    border: solid 1px #727272;
    min-width: 400px;
    max-width: 500px;
    width: 100%;
}
.ticket-titulo{
    background-color: #dfdfdf;
    color: #727272;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 1.3rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.ticket-titulo div h4{
    margin-bottom: 0;
}
.ticket-titulo div p{
    font-size: 1.2rem;
    margin-bottom: 0;
}
.ticket-codigo-aeropuerto{
    background-color: #5a5a5a;
    color: white;
    border-radius: 10px;
    padding: .5rem;
    width: 25%;
    text-align: center;
}
.ticket-titulo .ticket-codigo-aeropuerto p{
    font-family: 'Oswald', sans-serif;
    font-size: 1.8rem;
    font-weight: bolder;
    letter-spacing: 4px;
    margin:0;
    padding:0;
}
.avioncito{
    width: 6rem;
    transform: rotate(270deg);
    position: relative;
    top:-15px;
    left: 20px;
}
.ticket-destino{
    padding: 1.3rem;
}
.ticket-destino h4{
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
    letter-spacing: 4px;
    overflow-wrap: break-word;
}
.ticket-destino p{
    margin-bottom:0;
}
.ticket-data{
    padding: 1.3rem;
}
.ticket-data-div p{
    font-size: 1.2rem;
    background-color: #dfdfdf;
    padding-left: .5rem;
    padding-right: .5rem;
}
.ticket-data-flight{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}
.ticket-data-flight div{
    width: 100%;
}
.ticket-data-flight div p{
    font-size: 1.2rem;
    background-color: #dfdfdf;
    padding-left: .5rem;
    padding-right: .5rem;
}


@media only screen and (max-width: 580px) {
    .ticket-final {
        min-width: 200px;
        max-width: 400px;
        width: 100%;
    }
}